/* IMPOSTAZIONI RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* BODY */

body{
    background-color: aqua;
}

/* HEADER */

.main-header {
	padding: 12px 80px;
}

.navbar {
	display: flex;
    align-items: center;
	justify-content: space-between;
    background-color: #ff8800;
   
    
}

.main-menu {
	display: flex;
	gap: 20px;
    flex-wrap: wrap;
}

.logo {
	flex-shrink: 0;
}

.navbar .registration {
    display: block;
	text-transform: uppercase;
	padding: 0px 20px;
	font-size: 14px; 
}

.flex-item {
	width: calc(100% / 3 );
	border: dashed black;
	line-height: 32px;
}

/* layout-1 */

.section {
	padding: 30px 0px;
}

.layout-1 {
	background-color: rgb(9, 9, 65);
}

.container-1 {
	background-color: rgb(255, 86, 213);
	border: dashed black;
	margin-left: 90px;
	margin-right: 90px;
	height: 200px;
}

/* layiut-2 */

.layout-2 {
	background-color: white;
}

.container-2 {
	margin-left: 90px;
	margin-right: 90px;
	height: 200px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-1 {
	width: 60%;
	background-color: rgb(80, 125, 248);
	border: dashed black;
	height: 200px;
}

.col-2 {
	width: 40%;
	background-color: rgb(255, 145, 160);
	border: dashed black;
	height: 200px;
}

/* layout-3 */

.layout-3 {
 background-color: gray;
}

/* layout-5 */

.layout-5 {
	background-color: gray;
}

.container-5 {
	background-color: rgb(17, 90, 20);
	border: dashed black;
	margin-left: 90px;
	margin-right: 90px;
	height: 400px;
}

/* layout-6 */

.layout-6 {
	background-color: rgb(32, 30, 30);
}

.container-6 {
	margin-left: 90px;
	margin-right: 90px;
	height: 200px;
	
}

.col-3 {
	width: 40%;
	background-color: rgb(253, 93, 82);
	border: dashed black;
	height: 200px;
}

.col-4 {
	width: 10%;
	background-color: rgb(0, 196, 121);
	border: dashed white;
	height: 200px;
}