/* IMPOSTAZIONI RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* BODY */

body{
    background-color: aqua;
}

/* HEADER */

.main-header {
	padding: 12px 80px;
}

.navbar {
	display: flex;
    align-items: center;
	justify-content: space-between;
    background-color: #ff8800;
   
    
}

.main-menu {
	display: flex;
	gap: 20px;
    flex-wrap: wrap;
}

.logo {
	flex-shrink: 0;
}

.navbar .registration {
    display: block;
	text-transform: uppercase;
	padding: 0px 20px;
	font-size: 14px; 
}

.flex-item {
	width: calc(100% / 3 );
	border: dashed black;
	line-height: 32px;
}
